@import "tailwindcss";

/*Animación de Aproximación para index*/
@keyframes approach {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(10);
        opacity: 2;
    }
}

.animate-approach {
    animation: approach 1.5s ease-out forwards;
}

/*Animacón de rotación para "Mis proyectos"*/
@keyframes slide-right {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-right {
    animation: slide-right 0.5s ease-out forwards;
}

